/* Importando Fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');

/* Body */
*{
	box-sizing: border-box;
 }

body {
	background: url('../img/thanos.jpg') no-repeat center center fixed;
	background-size: cover;
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-size: 14px;
}

img {
	max-width: 100%;
}

/* Header */
.header-nav {
	background-color: #080808;
	box-shadow: 0px 1px 14px -1px rgba(0,0,0,0.47);
}

.logo {
	display: table;
	padding: 30px 0;
}

.logo h1 {
	display: table-cell;
	vertical-align: middle;
	font-family: 'Roboto', sans-serif;
	color: #fff;
	font-size: 17px;
	font-weight: 300;
	text-transform: uppercase;
}

.logo h1 strong {
	font-weight: 700;
}

.logo img {
	max-width: 130px;
	display: table-cell;
	margin-right: 20px;
}

.canditato {
	text-align: right;
	display: table-cell;
	vertical-align: middle;
	font-family: 'Roboto', sans-serif;
	color: #fff;
	font-size: 17px;
	font-weight: 400;
}

/* Grid */
.container {
	max-width: 1200px;
	padding: 0 20px;
	margin: 0 auto;
}

.align-vertical {
	width: 100%;
	display: table;
}

/* Busca */
.busca {
	position: relative;
	margin: 15px 0;
	width: 100%;
	padding: 17px;
	border-radius: 4px;
	background: #080808;
	box-shadow: 0px 0px 5px -1px rgba(0,0,0,1);
	color: #fff;
}

input[type="text"] {
	width: 100%;
	border-radius: 2px;
	border: none;
	padding: 15px 20px;
	transition: all 0.3s ease;
	background-color: rgba(255,255,255,0.02);
	font-family: 'Roboto', sans-serif;
	border: 1px solid rgba(255,255,255,0.06);
	color: #fff;
}

input[type="text"]:focus {
	border-color: #EA0028;
	background-color: rgba(255,255,255,0.06);
	outline: 0!important;
}


.lupa {
	margin: auto;
	position: absolute;
	top: 32px;
	right: 30px;
}

.lupa img {
	display: inline-block;
	max-width: 20px;
}

/* Resultado */
.resultado {
	margin-bottom: 40px;
	box-shadow: 0px 0px 5px -1px rgba(0,0,0,1);
	border-radius: 4px;
	background: #080808;
	padding: 10px 25px;
}

.tabela-resultado {
	width: 100%;
	font-family: 'Roboto', sans-serif;
	color: rgba(255,255,255,.8);
	font-weight: 400;
	font-size: 13px;
}

.tabela-resultado th {
	text-align: left;
	font-size: 15px;
	font-weight: 500;
	border-bottom: 1px solid rgba(255,255,255,0.1);
	padding: 15px 5px;
}

.tabela-resultado td {
	padding: 1.5em 5px;
}

.tabela-resultado td:first-child {
	padding-left: 15px;
}

.personagem {
	padding: 0 10px;
	transition: all .2s ease;
	border-bottom: 1px solid rgba(255,255,255,0.1);
}

.personagem:hover {
	background-color: rgba(255,255,255,0.08);
}

.personagem:last-child {
	border: 0;
}

.avatar-personagem {
	display: inline-block;
	vertical-align: middle;
	border-radius: 100px;
	width: 100px;
	height: 100px;
	overflow: hidden;
	margin-right: 10px;
}

.avatar-personagem img {
	height: 100%;
}

.td-nome p {
	display: inline-block;
	vertical-align: middle;
	font-size: 15px;
}

.tabela-resultado td ul {
	display: inline-block;
	vertical-align: middle;
}

.tabela-resultado td li {
	margin: 4px 0;
}

/* Breakpoint Mobile */
@media only screen and (max-width: 550px) {
	.td-series, .td-eventos, .th-series, .th-eventos {
		display: none;
	}

	.avatar-personagem {
		width: 130px;
		height: 130px;
	}

	.canditato {
		display: block;
		margin-bottom: 20px;
		text-align: left;
	}

	.logo {
		padding: 20px 0;
	}

	.logo img {
		max-width: 100px;
	}

	.logo h1 {
		font-size: 15px;
	}
}

/* Classes Auxiliares*/
.fadeIn {
		transition: all .3s ease-in-out;
		transform: translateX(0);
		opacity: 1;
}

.fadeOut {
		transition: all .3s ease-in-out;
		transform: translateX(10px);
		opacity: 0;
}

.invisivel {
	display: none!important;
}

.erro {
	display: block;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	color: #fff;
	font-size: 13px;
	margin: 40px auto 30px;
}

.removido {
	display: none;
}
